- if session[:production] == nil
  %h3 You are NOT authenticated in salesforce
  %form{:id => "authenticate_form", :name => "authenticate_form", :action => "/authenticate/salesforce", :method => "post"}
    %button{id: 'salesforce_auth'} Authenticate using your salesforce credentials
- else
  %h3{id: 'salesforce_user'}
    #{session[:production][:extra][:username]}
  token: #{session[:production]['credentials']['token'] }
  %br
  refresh_token: #{session[:production]['credentials']['refresh_token'] }
  %br
  %code
    DB::User.Doug.update(:salesforce_auth_token, #{session[:production]['credentials']['token']})
  %br
  %code
    DB::User.Doug.update(:salesforce_refresh_token, #{session[:production]['credentials']['refresh_token']})
%hr
- if session[:sandbox] == nil
  %h3 You are NOT authenticated in Sandbox
  %form{:id => "authenticate_form", :name => "authenticate_form", :action => "/authenticate/sandbox", :method => "post"}
    %button{id: 'salesforce_auth'} Authenticate using your sandbox credentials
- else
  %h3{id: 'salesforce_user'}
    #{session[:sandbox][:extra][:username]}
%hr
- if session[:box_user] == nil
  %h3 You are NOT authenticated in box
  %form{:id => "authenticate_form", :name => "authenticate_form", :action => "/authenticate/box", :method => "post"}
    %button{id: 'box_auth'} Authenticate using your box credentials
- else
  %h3{id: 'box_user'}
    #{session['box_user']}
  %br
  %code
    DB::User.Doug.update(:box_auth_token, #{session[:box_user][:access_token]})
  %br
  %code
    DB::User.Doug.update(:box_refresh_token, #{session[:box_user][:refresh_token]})
